
html, body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section -  cores */
#principal, #sobre, footer{
    background-color: #212529;
}

#addWord{
    background-color: #F0F0F7;
}

/* Navbar */

.bg-custom{
    background-color: #212529;
    border-bottom: 1px solid #E9ECEF;
}


.navbar-custom .navbar-brand {
    color: #E9ECEF;
  }
  
  .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #E9ECEF;
  }


  /* Button */
  .btn-custom{
    color: white;
    border-radius: 8px;
    text-transform: initial;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-newWhite{
    border: 1px solid #E9ECEF;
    color: #E9ECEF;
}

.btn-newWhite:hover{
    background-color: #DEE2E6;
    color: #212429;
}

.btn-newDark{
    border: 1px solid #212529;
    color: #212529;
}

.btn-newDark:hover{
    background-color: #212529;
    color: #E9ECEF;
}
 
/* Textos */

.text-newWhite{
    color: #E9ECEF;
}

  /* Footer */
  footer{
      border-top: 1px solid #E9ECEF;
  }

.fa-facebook-square, .fa-github-square, .fa-instagram-square{
    color: #E9ECEF;
}

.fa-instagram:hover{
    color: green;
}

.fa-github:hover{
    color: green;
}

.fa-facebook:hover{
    color: green;
}

footer ul li{
    margin: 0 5px;
}
